<%- include("../partials/layout", { pageTitle: "My Developer Skills", heading: "My Developer Skills" }) %>

<ul>
    <% skills.forEach(skill => { %>
        <li>
            <a href="/developerSkills/<%= skill.id %>"><%= skill.name %></a> - <%= skill.status %>
        </li>
    <% }); %>
</ul>

<a href="/developerSkills/new" class="add-new-skill">Add New Skill</a>